services:
  test:
    image: 'burenotti/bruhsty-dev:latest'
    build:
      context: '.'
      dockerfile: 'Dockerfile.dev'
    working_dir: "/project/tests/"
    entrypoint: [ "poetry" ]
    command: [ "run", "pytest", "--cov=bruhsty", "--cov-report=html", "." ]
    volumes:
      - .:/project/
      - poetry_venv:/root/.cache/pypoetry/virtualenvs
    depends_on:
      - postgres
      - redis
    networks:
      - postgres
      - redis

  postgres:
    image: 'postgres:16-alpine'
    ports:
      - 5432:5432
    expose:
      - 5432
    environment:
      - POSTGRES_USER=bot
      - POSTGRES_PASSWORD=bot
      - POSTGRES_DB=bot
    networks:
      - postgres

  redis:
    image: 'redis:7.2.1'
    ports:
      - 6379:6379
    expose:
      - 6379
    networks:
      - redis

networks:
  postgres:
  redis:

volumes:
  poetry_venv:
